* {
  box-sizing: border-box;
}
body {
  font-family: 'Kosugi Maru', sans-serif;
}
a {
  text-decoration: none;
  color: green;
}

/* ヘッダー部分 */
header {
  height: 200px;
  width: 100%;
  background-color: green;
  top: 0;
}
header a {
  float: left;
}
header a:hover {
  opacity: 0.8;
}
header p {
  margin-top: 35px;
  margin-left: 85px;
  text-align: center;
  position: fixed;
  z-index: 10;
  color: green;
}
header h1 {
  margin-top: 68px;
  margin-left: 190px;
  font-size: 50px;
  font-weight: normal;
  color: white;
  float: left;
}
header h2 {
  margin-top: 68px;
  margin-left: 40px;
  font-size: 50px;
  color: red;
}
header img {
  margin: 58px 30px 0 70px;
  width: 100px;
  position: fixed;
  z-index: 10;
}

/* タイトル部分 */
.guest-window-text {
  margin-top: 50px;
  text-align: center;
}
.guest-window-text h1 {
  font-size: 30px;
}
.guest-window-text p {
  font-size: 20px;
}

/* お問い合わせフォーム部分 */
.form-container {
  width: 940px;
  height: 1050px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff9b1;
}
.form-container br {
  display: none;
}
form {
  margin-left: 20px;
}
p,h3 {
  font-size: 20px;
}
input,select,label,textarea {
  font-size: 20px;
}
.name-input {
  width: 100px;
}
.tel-input {
  width: 120px;
}
textarea {
  font-weight: bold;
  width: 895px;
  height: 200px;
}

/* 送信ボタン部分 */
.send-button {
  width: 940px;
  margin-top: 10px;
  margin-left: 795px;
}
.send-button a:hover {
  opacity: 0.8;
}
.button-size {
  width: 300px;
}

/* フッター部分 */
footer {
  margin-top: 50px;
  height: 180px;
  background-color: green;
}
footer img {
  width: 100px;
  margin-top: 20px;
  margin-left: 890px;
}
footer p {
  text-align: center;
  color: white;
}

/* タブレット用設定部分 */
@media(max-width: 1170px) {
  /* タブレット・ヘッダー部分 */
  .header-contents {
    width: 750px;
    margin: 0 auto;
  }
  header {
    height: 200px;
    width: 100%;
  }
  header img {
    position: static;
    width: 150px;
    margin-top: 30px;
    margin-left: 300px;
  }
  header h1{
    margin-top: 140px;
    margin-left: -205px;
    font-size: 40px;
  }
  header h2 {
    display: none;
  }
  .back-btn {
    display: none;
  }

  /* タブレット・タイトル部分 */
  .guest-window-text {
    width: 650px;
    margin: 80px auto;
  }
  .guest-window-text h1 {
    text-align: left;
    font-size: 35px;
  }
  .guest-window-text p {
    text-align: left;
    font-size: 25px;
  }

  /* タブレット・お問い合わせフォーム部分 */
  .form-container {
    text-align: left;
    width: 650px;
    height: 1800px;
    margin: 0 auto;
  }
  .form-container h2 {
    text-align: left;
    margin-right: 20px;
    font-size: 30px;
  }
  .form-container h3 {
    margin-top: 30px;
    font-size: 30px;
  }
  label {
    font-size: 30px;
  }
  input {
    height: 40px;
    font-size: 30px;
  }
  input[type="radio"] {
    height: 25px;
    width: 25px;
  }
  select {
    height: 40px;
  }
  textarea {
    height: 180px;
    width: 600px;
    font-size: 30px;
  }
  .grocery-contents {
    margin-top: 0px;
  }
  .grocery-contents br {
    display: block;
  }
  .vegedot-contents br {
    display: block;
  }

  /* タブレット・送信部分 */
  .send-button {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .button-size {
    width: 300px;
  }

  /* タブレット・フッター部分 */
  .container {
    text-align: center;
    width: 750px;
    margin: 0 auto;
  }
  footer {
    height: 200px;
    width: 100%;
  }
  footer img {
    width: 150px;
    margin-left: 0;
  }
  footer p {
    margin-top: 10px;
    font-size: 25px;
  }

}

/* スマートフォン用設定部分 */
@media(max-width: 670px) {
  /* スマートフォン・ヘッダー部分 */
  .header-contents {
    width: 300px;
    margin: 0 auto;
  }
  header {
    height: 120px;
    width: 100%;
  }
  header a {
    width: 300px;
  }
  header img {
    position: static;
    width: 100px;
    margin-top: 12px;
    margin-left: 100px;
  }
  header h1{
    text-align: center;
    margin-top: 5px;
    margin-left: 100px;
    font-size: 20px;
  }
  header h2 {
    display: none;
  }
  .back-btn {
    display: none;
  }

  /* スマートフォン・タイトル部分 */
  .guest-window-text {
    width: 300px;
    margin: 30px auto;
  }
  .guest-window-text h1 {
    text-align: left;
    font-size: 20px;
  }
  .guest-window-text p {
    text-align: left;
    font-size: 15px;
  }

  /* スマートフォン・お問い合わせフォーム部分 */
  .form-container {
    width: 300px;
    height: 1650px;
    margin: 0 auto;
  }
  .form-container br {
    display: block;
  }
  .form-container h2 {
    text-align: left;
    margin-right: 20px;
    font-size: 20px;
  }
  .form-container h3 {
    font-size: 20px;
  }
  label {
    font-size: 20px;
  }
  input {
    height: 25px;
    font-size: 20px;
  }
  input[type="radio"] {
    height: 20px;
    width: 20px;
  }
  select {
    height: 30px;
  }
  textarea {
    height: 150px;
    width: 260px;
    font-size: 20px;
  }
  .grocery-contents {
    margin-top: -40px;
  }
  .name-contents,.name-contents2,.age-contents,.tell-contents,.comment-contents {
    margin-top: -10px;
  }
  .city-contents,.mail-contents {
    margin-top: -30px;
  }
  .tel-input {
    width: 70px;
  }

  /* スマートフォン・送信部分 */
  .send-button {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .button-size {
    width: 200px;
  }

  /* スマートフォン・フッター部分 */
  .container {
    width: 300px;
    margin: 0 auto;
  }
  footer {
    height: 140px;
  }
  footer img {
    width: 100px;
  }
  footer p {
    margin-top: 10px;
    font-size: 15px;
  }
}
