* {
  box-sizing: border-box;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
}
a {
  text-decoration: none;
  color: green;
}
span {
  color: red;
}

/* ヘッダー部分 */
header {
  height: 150px;
  width: 100%;
  background-color: green;
  top: 0;
}
header a {
  float: left;
}
header a:hover {
  opacity: 0.8;
}
header p {
  margin-top: 20px;
  margin-left: 85px;
  text-align: center;
  position: fixed;
  z-index: 10;
  color: green;
}
header h1 {
  float: left;
  margin-top: 68px;
  margin-left: 190px;
  font-size: 25px;
  font-weight: normal;
  color: white;
}
header h2 {
  margin-top: 68px;
  margin-left: 40px;
  font-size: 25px;
  color: red;
}
header img {
  margin: 45px 30px 0 70px;
  width: 100px;
  position: fixed;
  z-index: 10;
}

/* キャンペーンコンテンツ部分 */
.campaign {
  width: 1000px;
  margin: 0 auto;
}
.campaign-size {
  width: 1000px;
  margin-top: 60px;
  border-radius: 10px;
}
.campaign-text {
  padding-left: 30px;
  padding-right: 20px;
  background-color: orange;
  border-radius: 5px;
}
.campaign-text h2,p {
  display: inline-block;
  font-size: 20px;
  color: white;
}

/* 対象商品部分 */
.grocery-title {
  margin-top: 100px;
  margin-left: 470px;
  font-size: 25px;
}
.potato,.mushroom,.carrot,.tomato,.fruit {
  width: 1000px;
  margin: 0 auto;
}
.potato,.mushroom,.carrot,.tomato,.fruit img {
  border-radius: 10px;
}
.potato h1 {
  margin-left: 30px;
}
.potato-img,.mushroom-img,.carrot-img,.tomato-img,.fruit-img {
  float: left;
  width: 20%;
}
.grocery-size {
  width: 200px;
}

/* 購入ボタン部分 */
.buy-button {
  width: 1000px;
  margin-top: -60px;
  margin-left: 440px;
}
.buy-button a:hover {
  opacity: 0.8;
}
.button-size {
  width: 300px;
  margin-left: 350px;
}

/* フッター部分 */
footer {
  margin-top: 100px;
  height: 180px;
  background-color: green;
}
footer img {
  width: 100px;
  margin-top: 30px;
  margin-left: 900px;
}
footer p {
  margin-left: 895px;
  color: white;
}

/* タブレット用設定部分 */
@media(max-width: 1170px) {
  .header-contents {
    width: 750px;
    margin: 0 auto;
  }

  /* タブレット・ヘッダー部分 */
  header {
    height: 200px;
  }
  header p {
    display: none;
  }
  header h1 {
    margin: 140px 0 0 -235px;
    font-size: 30px;
  }
  header h2 {
    display: none;
  }
  header img {
    position: static;
    float: none;
    width: 150px;
    margin-top: 30px;
    margin-left: 300px;
  }

  /* タブレット・キャンペーンコンテンツ部分 */
  .campaign {
    width: 750px;
    margin: 0 auto;
  }
  .campaign img {
    width: 750px;
    margin-top: 50px;
  }
  .campaign-text h2 {
    font-size: 25px;
  }
  .campaign-text p {
    font-size: 25px;
  }
  .campaign-text br {
    display: none;
  }
  .grocery-title {
    text-align: center;
    width: 750px;
    margin: 0 auto;
    font-size: 20px;
  }

  /* タブレット・対象商品イメージ部分 */
  .potato,.mushroom,.carrot,.tomato {
    width: 500px;
    margin: 0 auto;
  }
  .potato h1 {
    text-align: center;
    margin: 0;
    font-size: 35px;
  }
  .potato-img,.mushroom-img,.carrot-img,.tomato-img,.fruit-img {
    float: none;
  }
  .grocery-size {
    width: 500px;
  }

  /* タブレット・購入ボタン部分 */
  .buy-button {
    width: 750px;
    margin: 0 auto;
  }
  .button-size {
    margin: 0 0 0 225px;
  }

  /* タブレット・フッター部分 */
  .container {
    width: 750px;
    margin: 0 auto;
  }
  footer {
    margin-top: 0;
    height: 200px;
  }
  footer img {
    width: 150px;
    margin-top: 25px;
    margin-left: 300px;
  }
  footer p {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 300px;
  }
}

/* スマートフォン用設定部分 */
@media(max-width: 670px) {
  .header-contents {
    width: 300px;
    margin: 0 auto;
  }

  /* スマートフォン・ヘッダー部分 */
  header {
    height: 120px;
  }
  header p {
    display: none;
  }
  header h1 {
    margin: 10px 0 0 60px;
    font-size: 20px;
  }
  header h2 {
    display: none;
  }
  header img {
    position: static;
    float: none;
    width: 100px;
    margin-top: 10px;
    margin-left: 100px;
  }

  /* スマートフォン・キャンペーンコンテンツ部分 */
  .campaign {
    width: 300px;
    margin: 0 auto;
  }
  .campaign img {
    width: 300px;
    margin-top: 50px;
  }
  .campaign-text h2 {
    font-size: 15px;
  }
  .campaign-text p {
    font-size: 15px;
  }
  .campaign-text br {
    display: none;
  }
  .grocery-title {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
  }

  /* スマートフォン・対象商品イメージ部分 */
  .potato,.mushroom,.carrot,.tomato {
    width: 300px;
    margin: 0 auto;
  }
  .potato h1 {
    text-align: center;
    margin: 0;
    font-size: 25px;
  }
  .potato-img,.mushroom-img,.carrot-img,.tomato-img,.fruit-img {
    float: none;
  }
  .grocery-size {
    width: 300px;
  }

  /* スマートフォン・購入ボタン部分 */
  .buy-button {
    width: 300px;
    margin: 0 auto;
  }
  .button-size {
    margin: 0;
  }

  /* スマートフォン・フッター部分 */
  .container {
    width: 300px;
    margin: 0 auto;
  }
  footer {
    margin: 0;
    height: 140px;
  }
  footer img {
    margin-top: 25px;
    margin-left: 98px;
    width: 100px;
  }
  footer p {
    margin-top: 10px;
    margin-left: 103px;
    font-size: 15px;
  }
}
